.pagination{

  &__list{
    display: flex;
    column-gap: 20px;
  }

  &__button{
    @include square(30);
    @include reset-button();

    color: var(--color-light);

    &.is-current{
      color: var(--color-accent);
    }
  }
}

