.process{

  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    counter-reset: accordionCounter;
    list-style: none;
  }

  &__item{

  }

  &__accordion{
    --rotateDeg: 0deg;

    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);

    @include mobile{
      padding: 20px 25px
    }

    &-header{
      user-select: none;
      cursor: pointer;

      list-style: none;

      display: flex;
      align-items: center;
      justify-content: space-between;

      column-gap: 25px;
    }

    &-content{
      margin-top: 30px;
      border-top: var(--border);
      padding-top: 30px;

      @include mobile{
        padding-top: 15px;
        margin-top: 15px;
      }
    }

    transition-duration: var(--transition-duration);
    @include hover{
      background-color: var(--color-accent);
    }

    &[open]{
      background-color: var(--color-accent);
      --rotateDeg: 90deg;
    }

    &-title{
      counter-increment: accordionCounter;
      display: flex;
      align-items: center;
      column-gap: 25px;

      &::before{
        content: '0' counter(accordionCounter);
        font-size: 2em;
      }

      @include mobile{
        font-size: 18px;
      }
    }

    &-indicator{

      @include square(58);

      flex-shrink: 0;
      border-radius: 50%;
      border: var(--border);
      background-color: var(--color-gray);

      position: relative;
      &::after,
      &::before{
        @include abs-center();

        content: '';
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after{
        transform: translate(-50%, -50%) rotate(var(--rotateDeg));
        transition-duration: var(--transition-duration);
      }

      @include mobile{
        @include square(30);
      }
    }
  }
}