.section {
  padding-block: var(--section-padding-y);

  &__header{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 40px;

    margin-bottom: 80px;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
      justify-content: center;

      margin-bottom: 40px;
    }
  }

  &__title{

  }

  &__description {
    max-width: 580px;

    @include mobile {
      max-width: 100%;
      text-align: center;
    }
  }
}