.subscribe-form{
  display: flex;
  gap: 20px;

  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);

  @include desktop{
    max-width: 450px;
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }
}
