$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;

$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}


@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}
@mixin mobile-above{
  @media (min-width: $mobile-above){
    @content;
  }
}

// Медиа запрос для адаптивной кнопки или ссылки при нажатии
@mixin hover{

  // Сработает, если на устройстве наведение курсора реализуемо
  @media (hover: hover){
    &:hover{
      @content;
    }
  }

  // Сработает, если на устройстве наведение курсора нереализуемо(мобильные устройства)
  @media (hover: none){
    &:active{
      @content;
    }
  }
}

